build/*
*.so
.vscode/*
.directory
build-harmony-ui-Desktop-Debug/*
*.out
include/spread-src-4.4.0/win32/*
include/spread-src-4.4.0/win32/.vs/*
include/spread-src-4.4.0/libspread-util/win32/*
include/spread-src-4.4.0/bin/*
include/spread-src-4.4.0/lib/*
include/spread-src-4.4.0/libspread-util/include/spu_system.h
include/spread-src-4.4.0/libspread-util/lib/win32/Debug/libspread-util.lib
include/spread-src-4.4.0/libspread-util/lib/win32/Debug/libspread-util.pdb
.vs/*
CMakeSettings.json
.idea/vcs.xml
.directory
.autosave
